.add-new-btn{
    float: right;
}

.MT10{
	margin-top: 10px;
}

.question-paper-header{
    padding: 0px;
    border: 18px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 25px;
}

.question-paper-subheading{
	padding:15px;'
}


#edit-question-format {
	display:none;
}

#edit-answer-format {
	display:none;
}